 :root{
    --bgclr:#064771;
    --fgclr:#ccc;
}

body {
padding: 0;
margin: 0;
font-size: 18px;
line-height: 30px;
font-weight: 700;
}
body *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
    font-family: Montserrat, sans-serif;
}
header{
    display: flex;
    background-color: darkblue;
    line-height: 2em;
    justify-content: space-around;

} 
nav > *{
    padding: 0px 10px;
}
.logo{
    background-size: cover;
    margin-top: 10px;
    margin-bottom: 8px;
}
nav{
    background-image: url(../images/wood.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    
}
nav ul{
    width:60%;
    display: flex;
    justify-content: space-between;
    padding-top:3%;
    text-transform: uppercase;
}
nav ul li{
    list-style-type: none;
    padding: 20px;
}
nav a{
    color: white;
    text-decoration: none;
}
nav a:hover{
    transition: 0.5s;
    color: #D9333E;
}
nav > a:last-of-type{
    
    border-radius: 50%;
}
#order{
    margin: 4% 3% 1% 0;
    background-color: #f6ad49;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    transition: all 0.4s ease-in-out;
}
#order:hover{
    background-color: #D9333E;
}
#banner{
    background-image: url(../images/wood.jpg);
    height: 430px;
    position: relative;
    background-size: cover;
    margin-top: 0px;
}
/*footer*/

.footer-distributed{
                background-color: #433d3c;
                box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
                box-sizing: border-box;
                width: 100%;
                text-align: left;
                font: bold 16px sans-serif;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                padding: 55px 50px;
            }

            .footer-distributed .footer-left,
            .footer-distributed .footer-center,
            .footer-distributed .footer-right{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                vertical-align: top;
            }

            /* Footer left */

            .footer-distributed .footer-left{
                width: 30%;
            }

             .footer-distributed .footer-icons{
                margin-left: auto;
                margin-right: auto;
                width: 80%;
            }

            .footer-distributed #icons_div a{
                padding:0.5em;
                width: 35px;
                height: 35px;
                cursor: pointer;
                
                border-radius: 2px;

                font-size: 20px;
                color: #f6ad49;
                text-align: center;
                line-height: 35px;

                margin-right: 3px;
                margin-bottom: 5px;
            }
.footer-distributed #icons_div a:hover{
    color: #D9333E;
}
#icons_div{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

/* Footer Center */
.footer-distributed .footer-center{
    width: 35%;
    flex-wrap:wrap;
    flex-direction: column;
    line-height: 2em;
    justify-content: center;
}

.footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}


/* Footer Right */

.footer-distributed .footer-right{
    width: 30%;
}
#orderbutton{
    margin-left: auto;
    margin-right: auto;
    width: 80%;

}
#order2{
    width: 100%;
    background-color: #f6ad49;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    transition: all 0.4s ease-in-out;
}
#order2:hover{
    background-color: #D9333E;
}

#banner h1{
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 5em;
    padding-top: 5%;
}
#banner p{
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding-top: 3%;
    font-size: 20px;
}

#pizza-image img{
    position: absolute;
    bottom: 0;
    left: 32%;
    padding-left:20px;
    padding-right: 20px;
    
}
#how-to-order{
    background-image: url(../images/orange-col.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#how-to-order h2{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
#order-divs{
    width: 80%;
    margin-left: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#main-menu{
    height: auto;
    text-align: center;
    margin-bottom: 20px;
}

#main-menu a{
    background-color: black;
    color: white;
    padding: 7px;
    text-decoration: none;
}
#main-menu h2{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#galleryBox{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.gallery{
    padding: 0 20px 20px;
}

.gallery img:hover{
    opacity: 0.9;
    transition: 0.9s;
}
.gallery p{
    padding: 5px;
    text-align: center;
    color: black;
    font-weight: bold;
   
}

#happy-hour{
    background-image: url(../images/orange-col.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 50px;
}

#happy-hour h2{
    color: black;
    text-transform:uppercase;
}
#free{
    display: flex;
    justify-content: space-around;
    background-image: url(../images/burger.png);
    height: 80vh;
    background-repeat: no-repeat;
    background-position: center;
}
#free1, #free2{
    flex:1;
}
#free1{
    margin-left: 20px;
}

#free1 h3{
    margin-top: 25%;
    color: red;
}
#free1 sup{
    color: black;
    font-size: 15px;
}

#free1 #para{
    font-size: 13px;
    width: 50%;
    text-justify: auto;
}

#free2{
    background-color: black;
    opacity: 0.9;
    text-align: center;
    color: white;
}
#free2 *{
    padding: 10px;
}
#free2 h1{
    margin-top: 15%;
    text-transform: uppercase;
}

#free2 p{
    margin: 20px;
    font-size: 15px;
    margin-bottom: 40px;
}

#free2 input{
    margin-bottom: 20px;
}

#free2 span{
    border: 1px solid white;
    padding: 10px;
    cursor: pointer;
}

            @media only screen and (max-width:1024px){
                #order-divs{
                    width: 80%;
                    margin-left: auto;
                    text-align: center;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    margin-right: auto;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                }

                #pizza-image{
                    position: absolute;
                    bottom: 0;
                    left: 25%;
                    text-align: center;
                }
                #banner h1{
                    font-size: 4em;
                }
                #banner p{
                    font-size: 15px;
                }
            }

            @media only screen and (max-width:768px){
               
                #how-to-order{
                   flex-direction: column;
                }
                #order-divs{
                    flex-direction: column;
                }
                #pizza-image{
                    position: absolute;
                    bottom: 0;
                    left: 10%;
                }
                #pizza-image img{
                    width:430px;
                }    

                #banner{
                    text-align: center;
                    position: relative;
                }
                #free1{
                    display: none;
                }

                #free2{
                    width: 100%;
                }
                body{
                    flex-direction: column;
                }
                nav > a:last-of-type{
                    display: block;
                }
                nav{
                    position: relative;
                }
                nav ul{
                    flex-direction: row;
                    width:100%;
                    margin-top: 1px;
                    
                    
                }
                .footer-distributed{
                    position: relative;
                }
                nav ul li{
                    padding: 10px 100px;
                }
                .content{
                display: flex;
                justify-content: space-around;
                flex-direction: column;
                }
                #order{
                    display:none;
                }
                #banner h1{
                    font-size: 3em;
                }
                #banner p{
                    font-size: 15px;
                }

            }
             @media (max-width: 880px) {

                .footer-distributed{
                    font: bold 14px sans-serif;
                }

                .footer-distributed .footer-left,
                .footer-distributed .footer-center,
                .footer-distributed .footer-right{
                    display: block;
                    width: 100%;
                    margin-bottom: 40px;
                    text-align: center;
                }

                .footer-distributed .footer-center i{
                    margin-left: 0;
                }

            }

@media only screen and (max-width:768px) {
     body {


         flex-direction: column;
     }
 #textline
     {
         display: none;
     }
     nav{
         flex-direction: column;
     }

     nav ul li{
         padding:10px;
         text-align: center;
         font-size: 13px;
     }

     nav ul {
         flex-direction: row;
         width: 100%;
         margin-right: 5%;
         }
     nav a{
         margin: auto;
     }  
 
     .content {
         display: flex;
         justify-content: space-around;
         flex-direction: column;
     }
 }


